language: python

python:
  - 2.7

env:
  - DJANGO=1.4
  - DJANGO=1.5
  - DJANGO=1.6

install:
  - pip install flake8
  - pip install -q Django==$DJANGO
  - pip install -q django-nose
  - pip install -q coverage
  - pip install -q python-coveralls
  - pip install -e .

script:
  - flake8 .
  - coverage run runtests.py

after_script:
  - coveralls
